* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.8);
}

.scene {
	width: 200px;
	height: 200px;
	margin: 80px;
	perspective: 400px;
}

.cube {
	width: 200px;
	height: 200px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
	animation: rotateCube 3s infinite linear;
}

.cube:hover {
	transform: scale3d(1.5);
}

.cube-face {
	position: absolute;
	width: 200px;
	height: 200px;
	line-height: 200px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: center;
	background: rgb(131, 58, 180);
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
}

.front {
	transform: rotateY(0deg) translateZ(100px);
}

.right {
	background: #fcb045;
	transform: rotateY(90deg) translateZ(100px);
}

.back {
	transform: rotateY(180deg) translateZ(100px);
}

.left {
	background: #833ab4;
	transform: rotateY(-90deg) translateZ(100px);
}

.top {
	transform: rotateX(90deg) translateZ(100px);
}

.bottom {
	transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotateCube {
	0% {
		transform: rotateX(0deg) rotateY(0deg);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg);
	}
}
